[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sqlalchemy = "*"

[packages]
django = "*"
docker-compose = "*"
psycopg2 = "*"
jupyter = "*"
pandas = "*"
numpy = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"

[requires]
python_version = "3.6"
