container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "kickstarter_projects.settings"
    PYTHONPATH: "$PYTHONPATH"
    ALLOWED_HOSTS: "localhost 127.0.0.1 0.0.0.0 kick-starter-projects-dev.us-west-2.elasticbeanstalk.com"
    SECRET_KEY: "n0df^o9y7^b%q23ds%0f7)mfnvwc=ic61zr&-%8!!8_$ks1$*u"
    DEBUG: "True"
    REDIS_URL: "kickstarter-redis.nczmkb.ng.0001.usw2.cache.amazonaws.com:6379"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "kickstarter_projects/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql95-devel: []
