@import "../../../kickstarter_projects/static/css/_variables.scss";

main ul {
    font-size: 1.1em;

    li a {
        color: $color-primary;
    }
}

.page_holder {
    margin: 1em auto;
    text-align: center;
}
