{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kickstarter Projects</title>
</head>
<body>
  <header>
    <h1>{% block title %}No Title{% endblock %}</h1>
  </header>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
      {% endif %}
      <li><a href="{% url 'project_list' %}">Projects</a></li>
    </ul>
  </nav>
  <main>
    {% block content %}No Content{% endblock %}
  </main>
</body>
</html>
